.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 24px;
    text-underline-offset: 4px;
}

.header__menu-list {
    display: flex;
    list-style: circle;
    gap: 33px;
    margin: 42px 36px 39px 26.52px;
    font-size: 18px;
}

.header_menu-item_inactive {
    list-style: none;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    margin-left: 184px;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.address__yes {
    text-decoration: underline;
}

.cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/cover.jpg);
    background-position: center;
    position: relative;
    z-index: -2;
    padding: 165px 50px 237px 50px;
}

.cover__title {
    color: #ffffff;
    text-transform: uppercase;
    width: 1000px;
    height: 355px;
    font-size: 100px;
    letter-spacing: 0.3em;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    padding-top: 10px;
    text-align: center;
}

.aligned-text_right {
    
    text-align: end;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.cover__description-text {
    color: #ffffff;
    top: 667px;
    left: 78px;
    height: 28px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    position: absolute;
    word-spacing: 19px;
}

.bet-button {
    width: 256px;
    height: 51px;
    color: #ffffff;
    background-color: transparent;
    position: absolute;
    top: 655px;
    right: 50px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    border: 1px solid #ffffff;
}
.lots {
    padding: 179px 24px 146px 24px;
}

.lots__heading {
    color: #000000;
    height: 47px;
    width: 121px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    margin-left: 40px;
}

.lots__card-list {
    display: flex;
    list-style: none;
    gap: 25px;
    margin-top: 27px;
    margin-bottom: 30px;
}

.card-link {
    display: block;
}

.card {
    width: 334px;
    height: 563px;
    position: relative;
    z-index: -2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 51px 40px 48px 40px;
}

.card__title {
    list-style: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-underline-offset: 3.5px;
    text-transform: uppercase;
    color: #ffffff;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    margin-top: 667px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-underline-offset: 5px;
}

.about {
    padding: 0px 24px 0 24px;
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 72px;
}



.about__column {
    display: flex;
    flex-direction: column;
}

.about__title {
    width: 291px;
    height: 47px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 136px;
    margin-bottom: 100px;
}

.about__text {
    font-size: 20px;
    color: #000000;
    margin-right: 5px;
}

.about__text:first-of-type {
    margin-bottom: 24px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000000;
    border-radius: 140px;
    margin-top: 35px;
    margin-left: 47px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin: 64px 45.52px 62px 46.48px;
}

.footer {
    padding: 180px 50px 88px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-address {
    display: flex;
    flex-direction: column;
    text-underline-offset: 4px;
    font-size: 100%;
    font-weight: normal;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.footer__menu {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.footer__menu-list {
    list-style: none;
}

.footer__social-list {
    display: flex;
    justify-self: end;
    gap: 48px;
    
}

.footer__social-icon {
    height: 48px;
}